{% extends 'mini_insta/base.html' %}
{% block content %}
<h1>Create a New Post</h1>

<form action="{% url 'create_post' profile.pk %}" method="POST">
    {% csrf_token %}
    <p>
        <label for="caption">Caption:</label><br>
        {{ form.caption }}
    </p>
    <p>
        <label for="image_url">Image URL:</label><br>
        <input type="text" name="image_url" id="image_url">
    </p>
    <button type="submit">Create Post</button>
    <a href="{% url 'show_profile' profile.pk %}">Cancel</a>
</form>
{% endblock %}